@inherits LayoutComponentBase

<PageTitle>AlexBusinessStudio</PageTitle>

<div class="page">
    <div class="sidebar">
        <AdminMenu />
    </div>
        
    <main>
        <div class="top-row px-4">
            <span>
                Hi Alex
            </span>
            &nbsp;&nbsp;&nbsp;
            <button class="btn" style="padding-top: 10px; color:white; display:flex; flex-direction : row; margin: 0; justify-content: center; border: solid 1px; border-color:bisque" @onclick=@ToggleShowBankInfo>
                <RadzenIcon Icon="settings" IconStyle="IconStyle.Light"/> &nbsp; Setting
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if(@IsShowingBankInfo)
{
    <BankInfoPopup OnClick=ToggleShowBankInfo/>
}

@code
{
    bool IsShowingBankInfo = false;

    void ToggleShowBankInfo()
    {
        IsShowingBankInfo = ! IsShowingBankInfo;
    }
}

