<div class="container popup" style="height:40vh; width:60vw;top:30vh; right:20vw;">
    <form class="p-2 d-flex flex-column" style="align-items:center">

        <h2>Banking Information Setting</h2>

        <p style="align-self:flex-start">
            <span style="font-size:1.2rem;">Bank Id:</span>&nbsp; &nbsp; &nbsp; ##
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>
        
        <p style="align-self:flex-start">
            <span style="font-size:1.2rem;">Bank Branch:</span>&nbsp; &nbsp; &nbsp; #####;
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>

         <p style="align-self:flex-start">
            <span style="font-size:1.2rem;">Account number:</span>&nbsp; &nbsp; &nbsp; ########;
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>         
        
        <p style="align-self:flex-start">
            <span style="font-size:1.2rem;">Account type:</span>&nbsp; &nbsp; &nbsp; ######W;
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>
            


        <br />
        <div style="justify-self:flex-end">
            <input type="submit" value="Save and Close" style="width: auto;">
            <input type="submit" value="Cancel" style="width: auto;">
        </div>
    </form>
</div>