<div class="container popup" style="height:40vh; width:60vw;top:30vh; right:20vw;">
    <form class="p-2 d-flex flex-column" style="align-items:center" onsubmit="return false">

        <h2>Banking Information Setting</h2>

        <p style="align-self:flex-start">
            <span style="font-size:1.2rem">Bank Id:</span>&nbsp; &nbsp; &nbsp; <input type="text" value="04" size ="1"/>
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>
        
        <p style="align-self:flex-start">
            <span style="font-size:1.2rem;">Bank Branch:</span>&nbsp; &nbsp; &nbsp;  <input type="text" value="92689" size ="2"/>
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>

         <p style="align-self:flex-start">
            <span style="font-size:1.2rem;">Account number:</span>&nbsp; &nbsp; &nbsp;<input type="text" value="689273947" size ="2"/>
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>         
        
        <p style="align-self:flex-start">
            <span style="font-size:1.2rem;">Account type:</span>&nbsp; &nbsp; &nbsp;
            <select name="account_type" id="acc_tyoe">
            <option value="Cheq">Chequing</option>
            <option value="Sav">Saving</option>
          </select>
            <i class="fa fa-edit" style="justify-self:center"></i>
        </p>
            


        <br />
        <div style="justify-self:flex-end">
            <button class="btn btn-success "  style="width: auto;" @onclick="@(() => (OnClick.InvokeAsync("save")))">Save and Close</button>
            <button class="btn btn-danger"  style="width: auto;" @onclick="@(() => (OnClick.InvokeAsync("cancel")))">Cancel</button>
        </div>
    </form>
</div>

@code{
    [Parameter] public EventCallback<string> OnClick { get; set; }
}
