<table class="table table-striped table-view">
            <tr>
                <th>Order Number</th>
                <th>Name</th>
                <th>Date</th>
                <th>Details</th>
            </tr>

            <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           <tr>
                <td>####</td>
                <td>Maria Anders</td>
                <td>2/1/22</td>
                <td><a href="url">link</a></td>
            </tr>

           
            
        </table>