<div class="container popup" style="height:30vh; width:40vw;top:45vh; right:30vw;">
    <form class="p-2 d-flex flex-column" style="align-items:center">

        <label for="w3review" style="align-self:flex-start">Tags:</label>
        <textarea id="w3review" name="w3review" rows="1" cols="40">
         Cat, Animal
        </textarea>
        <br />
        <div style="align-self:flex-start">
            Recommended Tags: <a href="">Cute</a>
        </div>
        <br />
        <div style="justify-self:flex-end">
            <input type="submit" value="Save and Close" style="width: auto;">
            <input type="submit" value="Cancel" style="width: auto;">
        </div>
    </form>
</div>