<form class="search-bar">
    <input type="text" placeholder="Search.." style="border-radius: 5px;">

    <label class="info-bar-left"> <h4>Category</h4></label>
    <div class="info-bar-left info-bar-item">
        <label for="cat"> Cat </label> <input id="cat" type="radio" value="Cat" checked />
        <br />
        <label for="cat"> Cute </label> <input id="cat" type="radio" value="Dog" checked />
    </div>

    <br />
    <!---->


    <label class="info-bar-left"> <h4>Date</h4></label>
    <div class="info-bar-left info-bar-item">
        <label for="start_date">Start date:</label>
        <input type="date" id="start_date" name="">
    </div>

    <div class="info-bar-left info-bar-item">
        <label for="end_date">End date:</label>
        <input type="date" id="end_date" name="">
    </div>

    <br />


    <label class="info-bar-left"> <h4>List status</h4></label>
    <div class="info-bar-left info-bar-item">
        <label for="cat"> Listed </label> <input id="cat" type="radio" value="Cat" />
        <br />
        <label for="cat"> Not listed </label> <input id="cat" type="radio" value="Dog" checked />
        <br />
        <label for="cat"> Sold</label> <input id="cat" type="radio" value="Dog" />
    </div>

    <br />

    <div class="info-bar-left">
        <label for="cars">Sort by:</label>
        <select name="cars" id="cars">
            <option value="volvo">Size</option>
            <option value="saab">Name</option>
            <option value="opel">Date</option>
        </select>
    </div>
    <br />

    <input type="submit" value="Search" style="width: 100px;">
</form>