@using Radzen
<div form class="search-bar">

    <h3>Listing</h3>

    <p style="align-self:flex-start">
        <span style="font-size:1.2rem;">Title:</span>&nbsp; &nbsp; &nbsp; Gazing Cat&nbsp;
        <i class="fa fa-edit" style="justify-self:center"></i>
    </p>
    <label for="w3review" style="align-self:flex-start">Description:</label>
    <textarea id="w3review" name="w3review" rows="4" cols="35       ">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </textarea> <br />
    <p style="align-self:flex-start"><span style="font-size:1.2rem;">Size:</span>&nbsp; &nbsp; &nbsp; 1920x1200</p>
    <p style="align-self:flex-start">
        <span style="font-size:1.2rem;">Tags:</span>&nbsp; &nbsp; &nbsp; cat, cute &nbsp;
        <i class="fa fa-edit" style="justify-self:center"></i>
    </p>

    <p style="align-self:flex-start">
        <span style="font-size:1.2rem;">Price:</span>&nbsp; &nbsp; &nbsp; 20$    &nbsp;
        <i class="fa fa-edit" style="justify-self:center"></i>
    </p>

    <br />
    <input type="submit" value="Save" style="width: 100px;">

</div>