@using Radzen
<div form class="search-bar" >

    <h3>Details</h3>

    <br />
    <div class="info-bar-left info-bar-item">
        <label class="info-bar-left info-bar-item" <h4>Name: </h4></label>  &nbsp
        <input type="text" @bind-value=@p.Name style=" width : 50%" /> &nbsp;
        <i class="fa fa-edit" style="justify-self:center"></i>
    </div>

    <br />
    <div class="info-bar-left info-bar-item">
        <label class="info-bar-left info-bar-item"> <h4>Size: </h4></label>  &nbsp;
        <span>@p.x x @p.y</span>
    </div>

    <br />
    <div class="info-bar-left info-bar-item">
        <label class="info-bar-left info-bar-item"> <h4>Tag: </h4></label>  &nbsp;
        <input type="text" value=@string.Join(", ", @p.TagList) onfocusin=@SetTagFocusTrue onfocusout=@SetTagFocusFalse />
        <i class="fa fa-edit" style="justify-self:center"></i>
        
    </div>

    @if (IsFocusTag)
    {
        <div class="info-bar-left info-bar-item" style="font-size:70%; color: blue">
            <label class="info-bar-left info-bar-item"> Recommended Tags: </label>
            Nature, Animal
        </div>
    }


    <br />
    <div class="info-bar-left info-bar-item">
        <label class="info-bar-left info-bar-item"> <h4>Date: </h4></label>  &nbsp;
        <input type="text" value=@(p.Date.ToShortDateString()) />
        <i class="fa fa-edit" style="justify-self:center"></i>
    </div>

    <br />
    <div class="info-bar-left info-bar-item" style="width:100%">
        <label class=""> <h4>Extra note: </h4></label>  <br />
        <div style="width:100%; display:flex; flex-direction:row"> 
            <textarea type="text" @bind=@p.Note style="margin:auto; width:100%"></textarea>
        </div>
    </div>

    <br /><br />

    <button class="btn btn-success" style="width: 100px;" @onclick=@Save>Save</button>

</div>

@inject IJSRuntime JsRuntime
@using  AlexBusinessStudio.Data


@code{
    [Parameter]
    public PhotoModel p { get; set; }
    public bool IsFocusTag = false;
    [Parameter] public EventCallback<string> OnSave { get; set; }

    public void SetTagFocusFalse()
    {
        IsFocusTag = false;
    }

    public void SetTagFocusTrue()
    {
        IsFocusTag = true;
    }

    public void Save()
    {
        OnSave.InvokeAsync(p.Name);
        JsRuntime.InvokeAsync<string>("alert", "Changes Saved");
    }
}