@using Radzen
<div form class="search-bar">

    <h3>Details</h3>

    <p>
        <span style="font-size:1.2rem;">Name:</span>&nbsp; &nbsp; &nbsp; name.jpg &nbsp;
        <i class="fa fa-edit" style="justify-self:center"></i>
    </p>
    <p><span style="font-size:1.2rem;">Size:</span>&nbsp; &nbsp; &nbsp; 1920x1200</p>
    <p>
        <span style="font-size:1.2rem;">Tags:</span>&nbsp; &nbsp; &nbsp; cat, cute &nbsp;
        <i class="fa fa-edit" style="justify-self:center"></i>
    </p>
    <div>
        <span style="font-size:1.2rem;">Category:</span>
        <select name="cars" id="cars">
            <option value="volvo">Animal</option>
            <option value="saab">Animal</option>
            <option value="opel">Animal</option>
        </select>
    </div>
    <p>
        <span style="font-size:1.2rem;">Date:</span>&nbsp; &nbsp; &nbsp; 22/01/30 &nbsp;
        <i class="fa fa-edit" style="justify-self:center"></i>
    </p>

    <label for="w3review">Extra notes:</label>
    <textarea id="w3review" name="w3review" rows="4" cols="40">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </textarea>
    <br /><br />
    <input type="submit" value="Save" style="width: 100px;">

</div>