<div class="tableFixHead">
    <table>
        <thead>
            <tr>
                <th>Keyword</th>
                <th>Count</th>
                <th>Changes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cat</td>
                <td>5000</td>
                <td style="color:green">&uarr; 30</td>
            </tr> <tr>
                <td>Dog</td>
                <td>4000</td>
                <td style="color:green">&uarr; 10</td>
            </tr> <tr>
                <td>House</td>
                <td>500</td>
                <td style="color:green">&darr; 5</td>
            </tr> <tr>
                <td>Pokemon</td>
                <td>500</td>
                <td style="color:red">&uarr; 30</td>
            </tr> <tr>
                <td>Bird</td>
                <td>150</td>
                <td style="color:red">&uarr; 12</td>
            </tr> <tr>
                <td>Cat</td>
                <td>50</td>
                <td style="color:green">&uarr; 300</td>
            </tr> <tr>
                <td>Cat</td>
                <td>50</td>
                <td style="color:green">&uarr; 300</td>
            </tr> <tr>
                <td>Cat</td>
                <td>50</td>
                <td style="color:green">&uarr; 300</td>
            </tr>
        
        </tbody>
    </table>
</div>